.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.base {
  width: 200px;
  height: 200px;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}
